/** Navigation Bar CSS for all pages**/

body {
    font-family: "montserrat" sans-serif;
}

.navbar {
    background: rgba(228, 21, 61, 0.75);
    border: none;
    color: white;
}

.nav {
    color: white;
    font-family: "montserrat" sans-serif;
    font-size: 10px;
}

.dropdown-menu {
    background: rgba(228, 21, 61, 0.75);
    font-size: 10px;
    font-family: "montserrat" sans-serif;
}

.nav.navbar-nav.navbar-left li a {
    color: white;
}

.navbar-right {
    padding-right: 20px;
}

.navbar-collapse {
    text-align: center;
}

.fa {
    padding: 0px;
    font-size: 10px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    color: white;
}

li:hover {
    background-color: rgba(228, 21, 61, 0.9);
}


/**Main Background Photo for Index HTML**/

.greetings {
    background-image: url(DJ1.jpg);
    background-attachment: scroll;
    text-align: center;
    height: 900px;
    position: relative;
    border: none;
}

.photo {
    color: white;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border: none;
}

.photo-content {
    position: relative;
    top: 30%;
    margin-right: auto;
    margin-left: auto;
    width: 400px;
    color: white;
    border: none;
}

.logo {
    width: 100%;
    background-color: white;
    vertical-align: middle;
}

.details {
    display: flex;
    direction: column;
    justify-content: space-around;
    background-color: white;
    padding-top: 20px;
    padding-left: 50px;
}


/**@media(min-width: 992px) {
    .details {
        margin-left: auto;
        margin-right: auto;
    }
}**/


/**Main body of Index HTML (listen/what's-On/blog)**/

.pictures {
    background-size: cover;
    height: 500px;
    padding: 20px;
    background-position: center center;
}

#listen {
    background-image: url(listen.jpg);
}

#whats-on {
    background-image: url(whats-on.jpg);
}

#blog {
    background-image: url(blog.jpg);
}

.opacity_change {
    opacity: 0.8;
}

p {
    font-family: "montserrat" sans-serif;
    font-size: 20px;
    text-align: center;
}

h2 {
    color: white;
}

footer {
    background: rgba(228, 21, 61, 1);
}

.container-fluid {
    padding: 0px;
    margin: 0px;
}

.gallery {
    display: block;
    padding: 15px;
    margin: 0 auto;
    background-color: #fff;
}

.gallery img {
    margin-bottom: 10px;
    position: static;
}

.h2_font_size {
    font-size: 40px;
}


/*Form Styling*/

.login {
    display: block;
    padding: 20px 10px;
    border: 5px ridge gray;
    border-radius: 20px;
    font-size: 10px;
    font-family: "montserrat" sans-serif;
}

input.ng-invalid.ng-dirty {
    border: 1px solid red;
}

input.ng-valid {
    border: 1px solid green;
}


/*djs*/

img {
    width:
}

.djs p {
    font-family: "montserrat" sans-serif;
    font-size: 12px;
    text-align: left;
    display: none;
}

.djs img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    object-position: center center;
}

.djs h4 {
    text-align: center;
    color: black;
}

.djbutton {
    display: flex;
    height: auto;
    width: 96%;
    color: white;
    border-radius: 2px;
    display: inline-block;
    background-color: rgba(228, 21, 61, 0.75);
    text-align: center;
    padding: 5px;
    margin: 5px;
    font-family: "montserrat" sans-serif;
    font-size: 12px;
}

.djs a {
    color: white;
}


/*Nina Kraviz Page*/


/*Main Image, title and mininavbar*/

.row {
    margin: 0;
}

.nina {
    background-image: url(NinaKraviz1.jpg);
    background-attachment: scroll;
    text-align: center;
    height: 900px;
    position: relative;
    border: none;
    color: white;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border: none;
}

.nina h1 {
    text-align: right;
    padding-top: 65px;
    padding-right: 95px;
    position: right;
    color: white;
    font-size: 35px;
}

.nina a {
    color: white;
}

ninanav {
    height: 20px;
    width: 200px;
}

.ninanav h4 {
    text-align: left;
    border-bottom: 2px solid rgba(228, 21, 61, 0.75);
    width: 100%;
}

@media(min-width: 992px) {
    .ninanav h4 {
        width: 140%;
    }
}

.ninanav a {
    text-decoration: none;
}

.ninanavhighlight {
    background-color: rgba(228, 21, 61, 0.75);
}

@media(min-width: 992px) {
    .nina h1 {
        font-size: 50px;
    }
}


/*Biography and Upcoming events*/

.maincontent h4 {
    text-align: left;
    border-bottom: 2px solid rgba(228, 21, 61, 0.75);
    width: 100%;
}

.biography {
    padding-left: 10px;
}

.events {
    padding-left: 10px;
}

.biography p {
    font-size: 15px;
    text-align: left;
}

.events .events h4 {
    text-align: center;
}


/*Youtube and Soundcloud*/

iframe {
    padding-top: 10px;
}

.youtube {
    padding-left: 10px;
}

.soundcloud {
    padding-left: 10px;
}


/*footer*/

footer p {
    color: white;
}