<div class="container-fluid nina">
        <h1>Nina Kraviz</h1>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-4 col-lg-1 col-lg-offset-7">
                <div class="ninanav" id="ninanav1">
                    <a id="scroll1" href="#">
                        <h4>Biography</h4>
                    </a>
                </div>
            </div>
            <div class="col-xs-8 col-xs-offset-4 col-lg-1 col-lg-offset-8">
                <div class="ninanav" id="ninanav2">
                    <a id="scroll2" href="#">
                        <h4>Events</h4>
                    </a>
                </div>
            </div>
            <div class="col-xs-8 col-xs-offset-4 col-lg-1 col-lg-offset-9">
                <div class="ninanav" id="ninanav3">
                    <a id="scroll3" href="#">
                        <h4>Watch</h4>
                    </a>
                </div>
            </div>
            <div class="col-xs-8 col-xs-offset-4 col-lg-1 col-lg-offset-10">
                <div class="ninanav" id="ninanav4">
                    <a id="scroll4" href="#">
                        <h4>Listen</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <hr>

    <div class="container-fluid">
        <div class="row maincontent">
            <div class="col-xs-12 col-lg-8">
                <div class="biography">
                    <h4>Biography</h4>
                    <p>Producer, occasional vocalist, and DJ Nina Kraviz hails from Irkutsk, Siberia -- not exactly a dance music hot spot. Kraviz fell under the spell of house music during the mid-'90s through radio. A few years later, she moved to Moscow
                        for the sake of studying dentistry, and was briefly part of a trio called MySpaceRocket. The group released one 12", 2007's "Amok," a lean house track with a deep bassline and Kraviz's breathy vocals; the B-side featured a version
                        from U.K. DJ legend Greg Wilson. Kraviz subsequently went solo and made a splash in 2009, when she issued productions on Efdemin's Naïf, Jus-Ed's Underground Quality, and Matt Edwards' Rekids. The following year, Kraviz issued
                        another handful of singles, including a sound clash with Sascha Funke that appeared on BPitch Control. "Ghetto Kraviz" was her lone 2011 single and set up the release of her first album, a self-titled set for REKIDS. "Ghetto Kraviz"
                        would prove to be an enduring club track, and was remixed numerous times throughout the decade. Following additional singles on Rekids and Rosa, as well as the Mr. Jones EP in 2013, Kraviz founded the Trip label in 2014. Her installment
                        of !K7's DJ-Kicks series was released in early 2015. Another mix CD, Fabric 91, followed in late 2016.</p>
                </div>
            </div>
            <div class="col-xs-12 col-lg-4">
                <div class="events">
                    <h4>Upcoming Events</h4>
                    <div class="col-xs-6 col-lg-6">
                        <h6>Nina Kraviz and DJ Sodeyema @ Fabrique - Milano</h6>
                        <figure>
                            <img src="pictures/NinaKraviz2.jpg" width="100%" height="auto" alt="Nina Kraviz @ Fabrique in Milan">
                            <figcaption>Firday, 07 April 2017</figcaption>
                        </figure>
                    </div>
                    <div class="col-xs-6 col-lg-6">
                        <h6>Nina Kraviz @ Alvatoz - Venice</h6>
                        <figure>
                            <img src="pictures/NinaKraviz3.jpg" width="100%" height="auto" alt="Nina Kraviz @ Fabrique in Milan">
                            <figcaption>Saturday, 08 April 2017</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="row maincontent">
            <div class="col-xs-12 col-lg-8">
                <div class="youtube">
                    <h4>Boiler Room Berlin</h4>
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/xogJgUteDAs" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-xs-12 col-lg-4">
                <div class="soundcloud">
                    <h4>Listen</h4>
                    <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/4364090&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
                </div>

            </div>
        </div>
    </div>

    <br>
    <br>
    <br>