<!--Main background photo and in initial page you see when internet loads-->
<section class="greetings photo">
    <div class="photo-content">
        <img class="logo" src="pictures/logo.jpg" alt="logo">
        <hr>
        <h4>{{title}}</h4>
    </div>
</section>

<br>
<!--3 pictures that can be clicked on in order to view other parts of the website-->
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-lg-4">
            <div id="listen" class="pictures">
                <h2>Listen</h2>
                <!--To listen and watch different techno music-->
            </div>
        </div>
        <div class="col-xs-12 col-lg-4">
            <div id="whats-on" class="pictures">
                <h2>Whats-On?</h2>
                <!--To view upcoming events and potential nights to go to-->
            </div>
        </div>
        <div class="col-xs-12 col-lg-4">
            <div id="blog" class="pictures">
                <h2>Sign-up/Login</h2>
                <!--This will load the the Angular JS written form for users to submit their login info-->
            </div>
        </div>
    </div>
</div>

<br>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <p> Lorem ipsum dolor sit amet, regione saperet quaerendum vix an, at cetero theophrastus mei. Te elit pertinacia usu. Ei sed noster eligendi splendide. Pro persius evertitur an, populo admodum docendi at mea, ut facete aperiam vim. Quando aliquam
                ea vis, brute homero gubergren per at, reque delicata pro eu. Id viris homero delicatissimi per, et quas paulo option duo. Nostro dolorum mel an, eam habeo contentiones ex. Vis oblique evertitur dissentiunt in, et vix forensibus complectitur.
                Eu discere officiis vim. </p>
        </div>
    </div>
</div>

<br>