<br>
    <br>
    <br>

    <div class="container-fluid djs">
        <div class="row col-xs-6 col-lg-3">
             <a href="/listennina">
                <h4 info="nina">{{nina.name}}</h4>
                <img src="images/NinaKraviz1.jpg" alt="Nina Kraviz">
            </a>
                <dj-button info="nina"></dj-button>
        </div>

        <div class="col-xs-6 col-lg-3">
            <a href="/listenandrew">
                <h4>{{andrew.name}}</h4>
                <img src="images/andrewweatherall.jpg" alt="Andrew Weatherall">
            </a>
            <dj-button info="andrew"></dj-button>
        </div>

        <div class="col-xs-6 col-lg-3">
            <a href="/">
                <h4>{{bicep.name}}</h4>
                <img src="images/bicep.jpg" alt="Bicep">
            </a>
            <dj-button info="bicep"></dj-button>
        </div>

        <div class="col-xs-6 col-lg-3">
            <a href="/">
                <h4>{{atish.name}}</h4>
                <img src="images/atish.jpg" alt="Atish">
            </a>
            <dj-button info="atish"></dj-button>
        </div>
    </div>


    <hr>

    <div class="container-fluid djs">
        <div class="row col-xs-6 col-lg-3">
            <a href="/">
                <h4>{{lazarus.name}}</h4>
                <img src="images/DamianLazarus.jpg" alt="Damian Lazarus">
            </a>
            <dj-button info="lazarus"></dj-button>
        </div>

        <div class="row col-xs-6 col-lg-3">
            <a href="/">
                <h4>{{doering.name}}</h4>
                <img src="images/dirtydoering.jpg" alt="Dirty Doering">
            </a>
            <dj-button info="doering"></dj-button>
        </div>

        <div class="row col-xs-6 col-lg-3">
            <a href="/">
                <h4>{{velvet.name}}</h4>
                <img src="images/GreenVelvet.jpg" alt="Green Velvet">
            </a>
            <dj-button info="velvet"></dj-button>
        </div>

        <div class="row col-xs-6 col-lg-3">
            <a href="/">
                <h4>{{midland.name}}</h4>
                <img src="images/Midland.jpg" alt="Midland">
            </a>
            <dj-button info="midland"></dj-button>
        </div>
    </div>

    <hr>

    <div class="container-fluid djs">
        <div class="row col-xs-6 col-lg-3">
            <a href="/">
                <h4>{{maceo.name}}</h4>
                <img src="images/maceoplex.jpg" alt="Maceo Plex">
            </a>
            <dj-button info="maceo"></dj-button>
        </div>

        <div class="row col-xs-6 col-lg-3">
            <a href="/">
                <h4>{{chemical.name}}</h4>
                <img src="images/ChemicalBrothers1.jpg" alt="Chemical Brothers">
            </a>
            <dj-button info="chemical"></dj-button>
        </div>

        <div class="row col-xs-6 col-lg-3">
            <a href="/">
                <h4>{{prydz.name}}</h4>
                <img src="images/EricPrydz2.jpg" alt="Eric Prydz">
            </a>
            <dj-button info="prydz"></dj-button>
        </div>

        <div class="row col-xs-6 col-lg-3">
            <a href="/">
                <h4>{{jackmaster.name}}</h4>
                <img src="images/Jackmaster1.jpg" alt="Jackmaster">
            </a>
            <dj-button info="jackmaster"></dj-button>
        </div>
    </div>

    <hr>

    <div class="container-fluid djs">
        <div class="row col-xs-6 col-lg-3">
            <a href="/">
                <h4>{{beyer.name}}</h4>
                <img src="images/AdamBeyer.jpg" alt="Adam Beyer">
            </a>
            <dj-button info="beyer"></dj-button>
        </div>

        <div class="row col-xs-6 col-lg-3">
            <a href="/">
                <h4>{{solomun.name}}</h4>
                <img src="images/Solomun.jpg" alt="Nina Kraviz">
            </a>
            <dj-button info="solomun"></dj-button>
        </div>

        <div class="row col-xs-6 col-lg-3">
            <a href="/">
                <h4>{{dixon.name}}</h4>
                <img src="images/dixon.jpg" alt="Dixon">
            </a>
            <dj-button info="dixon"></dj-button>
        </div>

        <div class="row col-xs-6 col-lg-3">
            <a href="/">
                <h4>{{claptone.name}}</h4>
                <img src="images/claptone.jpg" alt="Claptone">
            </a>
            <dj-button info="claptone"></dj-button>
        </div>
    </div>

    <br>
    <br>